<app-navbar></app-navbar>

<div class="flex min-h-screen">
  <aside *ngIf="router.url !== '/login' && router.url !== '/register'" 
         class="hidden md:block w-64 border-r border-gray-200">
    <app-left-nav></app-left-nav>
  </aside>

  <main class="flex-1 pb-20 lg:pb-0">
    <router-outlet></router-outlet>
  </main>

  <aside *ngIf="router.url !== '/login' && router.url !== '/register'" 
         class="hidden lg:block w-80 border-l border-gray-200">
    <app-right-nav></app-right-nav>
  </aside>
</div>


<nav *ngIf="router.url !== '/login' && router.url !== '/register'" 
     class="fixed bottom-0 left-0 right-0 md:hidden bg-white border-t border-gray-200 z-50">
  <app-bottam-nav></app-bottam-nav>
</nav>
